@model IEnumerable<ASPCore.Blog.WebUI.Models.ArticlesModel>
@{
    ViewData["Title"] = "ArticlesTable";
    int number = 0;
}

<section class="blog_area section-gap single-post-area">
    <div class="container box_1170">
        <div class="row">
            <div>
                <div class="section-top-border">
                    <div class="row">
                        <h3 class="mb-30 col-xl-10">All Articles</h3>
                        <div class="text-right col-xl-2">
                            <button type="button" class="genric-btn primary circle" onclick="addArticle()">Add</button>
                        </div>
                    </div>
                    <div id="table-article" class="progress-table-wrap">
                        <div class="progress-table">
                            <div class="table-head">
                                <div class="serial">№</div>
                                <div class="serial">Article</div>
                                <div class="serial">Category</div>
                                <div class="country">Tags</div>
                                <div class="serial" style="padding-left: 0px">Date</div>
                                <div class="serial">Action</div>
                            </div>
                            @foreach (var table in Model)
                            {
                                <div class="table-row" id="@table.ArticleId">
                                    <div class="serial">@{ number++; } @number</div>
                                    <div class="serial">@table.Name</div>
                                    <div class="serial">@table.Category.Name</div>
                                    <div class="country row">
                                        @foreach (var tags in table.Tags)
                                        {
                                            <div class="col-lg-3 col-md-6">
                                                @tags.Name
                                            </div>
                                        }
                                    </div>
                                    <div class="serial">@table.DateChange.ToString("dd.MM.yyyy")</div>
                                    <div class="serial">
                                        <button type="button" class="genric-btn primary circle" onclick="updateArticle(this)">Update</button>
                                        <button type="button" class="genric-btn danger circle" onclick="deleteArticle(this)">Delete</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>